body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-color: #1d1e22;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0 0 5px;
}

.link-green {
  text-decoration: none;
  color: #2fc18c;
}

.link-green:hover {
  color: #97e0c5;
}

.header {
  position: fixed;
  padding-left: 20px;
  top: 0;
  padding: 5px;
  color: black;
  font-size: 9px;
  display: block;
  background: #2fc18c;
  border-radius: 5px;
  max-width: 100px;
  height: auto;
  text-decoration: none;
}

.header:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.page-title {
  text-align: center;
  padding: 20px;
  color: black;
  font-size: 26px;
  display: block;
  margin: 30px auto;
  background: #2fc18c;
  border-radius: 10px;
  max-width: 300px;
  height: auto;
  text-decoration: none;
}

.page-title:hover {
  opacity: 80%;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.profile-pic {
  max-width: 400px;
  height: auto;
  padding-left: 2vw;
  padding-right: 20px;
  padding-bottom: 20px;
}

.profile-pic:hover {
  opacity: 90%;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.center-text {
  padding-left: 5vw;
  padding-right: 10px;
  width: 91%;
}

.container {
  width: 100%;
  text-align: center;
}

.translate-button {
  align-self: center;
  height: 30px;
  width: 40px;
}

.icon {
  align-self: center;
  height: 30px;
  width: 40px;
}

.icon:hover {
  opacity: 90%;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* shake animation thanks to w3schools S2 */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
